/node_modules
/kotlin-hyperapp/node_modules/
/example/node_modules/

/.gradle
/build
/kotlin-hyperapp/build
/example/build

/.idea
/out
/kotlin-hyperapp/out
/example/out

/example/kotlin_build

example/package.json
kotlin-hyperapp/package.json
example/package-lock.json
kotlin-hyperapp/package-lock.json

